@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

$myFont: 'Josefin Slab', serif;
$myColor: #DDB8F4;



body {
    background-image: url('image1.jpeg');
    background-size :cover;
}

p{
  font-size:70px;
  font-family: $myFont;
  color    : $myColor;
}

#more{
  color    : $myColor;
  font-size: 20px;
}

.container {
  text-align: center;
  position  : absolute;
  top       : 40%;
  left      :50%;
  transform : translate(-50%,-50%);
}

.divider{
    width  :20px;
    height :auto;
    display:inline-block;
}

a{
    text-decoration:none;
}

.box1 {
    font-family: $myFont;
    top         : 50%;
    display     : inline-block;
    padding     : 15px 40px;
    border      : white;
    border-width: 3px;
    border-style: solid;
    font-size   : 20px;
    color       : $myColor;
}

.box2 {
  font-family: $myFont;
  padding        : 10px 30px;
  text-decoration: none;
  border         : transparent;
  border-width   : 2px;
  border-style   : solid;
  color          : $myColor;
}

#navigation {
  position: absolute; top:0; right:0;
}

#navMain {
    font-family: $myFont;
    font-size  : 20px;
    padding    : 20px 50px;
}

a.box1:hover{
    color          : $myColor;
    text-decoration: none;
    -webkit-transition: border .3s linear ;
    border      : $myColor;
    border-width: 3px;
    border-style: solid;
}

#navMain a.box2:hover{
  -webkit-transition: border 1s linear ;
    color           : $myColor;
    text-decoration : none;
    border          : white;
    border-width    : 2px;
    border-style    : solid;
}
