@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

$myFont: 'Josefin Slab', serif;
$myColor: white;
$myPurple: #ce7ece;


body, html {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('house.JPG');
  opacity: 1;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

a[href^=tel]{
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0px 15px 0px 15px;
  display:inline;
  font-size:50px;
  font-family: $myFont;
  color: $myColor;
}

p a{
  border-bottom: 2px dotted white;
  cursor:pointer;
  font-family: $myFont;
  color: $myColor;
  text-decoration: none;
}

p a:hover{
  -webkit-transition: .3s linear ;
  border-bottom: 2px dotted white;
  cursor:pointer;
  font-family: $myFont;
  color: $myPurple;
  text-decoration: none;
}

span{
  border-bottom: 2px dotted $myColor;
  cursor:pointer;
  display:inline;
  font-size:50px;
  font-family: $myFont;
  color: $myColor;
}

span:hover{
  -webkit-transition: .3s linear ;
  border-bottom: 2px dotted $myColor;
  cursor:pointer;
  display:inline;
  font-size:50px;
  font-family: $myFont;
  color: $myPurple;
}

.borders{
  border-style: solid;
  border-top-color: $myColor;
  border-bottom-color: $myColor;
}

.topPad{
  padding: 15px 0px;
}

@media screen and (max-width: 600px) {
  p{
    padding: 0px 15px;
    display:inline-block;
    font-size:25px;
    font-family: $myFont;
    color: $myColor;

  }
  a[href^=tel]{
    color: inherit;
    text-decoration: none;
  }

  span{
    border-bottom: 2px dotted white;
    cursor:pointer;
    display:inline;
    font-size:25px;
    font-family: $myFont;
    color: $myColor;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
