@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$myFont2: 'Indie Flower', cursive;

$myFont: 'Josefin Slab', serif;
$myColor: white;
$myPurple: #ce7ece;
$slightBlack:#333;

body, html {
  width: 100%;
  height: 100%;

}

#intro{
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 150px;
  background-image: url('../pictures/house.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#splitter{
  width: 100%;
  height: 300px;
  background-color: #DDDDDD;
  h1{
    text-align: center;
    padding-top: 90px;
    font-size: 110px;
    font-family: $myFont2;
    font-weight: bold;
    color:  $slightBlack;
  }
}



#page1{
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background-image: url('../pictures/laizabw.jpg');
  //background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#page2{
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background-image: url('../pictures/house3.jpg');
  //background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#page3{
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background-image: url('../pictures/sunset.jpg');
  //background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#more{
  font-weight: 900;
  color    : $myColor;
  font-size: 30px;
}

p{
  font-size:90px;
  font-family: $myFont;
  color    : $myColor;
}

a{
    text-decoration:none;
}

button{
  cursor:pointer;
  text-decoration:none;
}

.box1 {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-family: $myFont;
    margin      : 5px;
    top         : 50%;
    display     : inline-block;
    padding     : 15px 40px;
    border      : $myColor;
    border-width: 3px;
    border-style: solid;
    font-size   : 21px;
    color       : $myColor;
}

button.box1:hover{
    -webkit-transition: border .3s linear ;
    text-decoration: none;
    color          : $myColor;
    border      : $myPurple;
    border-width: 3px;
    border-style: solid;
}

/* Add a black background color to the top navigation */
.topnav {
    z-index: 500;
    height: 70px;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    //position: static;
    background-color: $slightBlack;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-weight: bold;
    font-family: $myFont;
    float: right;
    color: $myColor;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border         : transparent;
    border-width   : 2px;
    border-style   : solid;
}

/* Change the color of links on hover */
.topnav a:hover {
    -webkit-transition: border .3s linear ;
    font-weight: bold;
    color: $myColor;
    text-decoration: none;
    border          : $myPurple;
    border-width    : 2px;
    border-style    : solid;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    color          : $myColor;
    display: none;
}

// @media screen and (min-width: 856px) and (min-height: 414px) {
// .perfect-centering {
//      text-align: center;
//      position: absolute;
//      top: 50%;
//      left:50%;
//      transform: translate(-50%,-50%);
//    }
//  }

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
