@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body, html {
  width: 100%;
  height: 100%; }

#intro {
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 150px;
  background-image: url("../pictures/house.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%; }

#splitter {
  width: 100%;
  height: 300px;
  background-color: #DDDDDD; }
  #splitter h1 {
    text-align: center;
    padding-top: 90px;
    font-size: 110px;
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    color: #333; }

#page1 {
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background-image: url("../pictures/laizabw.jpg");
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%; }

#page2 {
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background-image: url("../pictures/house3.jpg");
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%; }

#page3 {
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background-image: url("../pictures/sunset.jpg");
  background-attachment: fixed;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%; }

#more {
  font-weight: 900;
  color: white;
  font-size: 30px; }

p {
  font-size: 90px;
  font-family: "Josefin Slab", serif;
  color: white; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  text-decoration: none; }

.box1 {
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-family: "Josefin Slab", serif;
  margin: 5px;
  top: 50%;
  display: inline-block;
  padding: 15px 40px;
  border: white;
  border-width: 3px;
  border-style: solid;
  font-size: 21px;
  color: white; }

button.box1:hover {
  -webkit-transition: border 0.3s linear;
  text-decoration: none;
  color: white;
  border: #ce7ece;
  border-width: 3px;
  border-style: solid; }

/* Add a black background color to the top navigation */
.topnav {
  z-index: 500;
  height: 70px;
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: #333;
  overflow: hidden; }

/* Style the links inside the navigation bar */
.topnav a {
  font-weight: bold;
  font-family: "Josefin Slab", serif;
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border: transparent;
  border-width: 2px;
  border-style: solid; }

/* Change the color of links on hover */
.topnav a:hover {
  -webkit-transition: border 0.3s linear;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: #ce7ece;
  border-width: 2px;
  border-style: solid; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  color: white;
  display: none; }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
