@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

$myFont: 'Josefin Slab', serif;
$myColor: #DDB8F4;



body {
  -webkit-animation: fadein 4s; /* Safari and Chrome */
    background-image: url('image1.jpeg');
    background-size :cover;
}

a{
    text-decoration:none;
}

.box2 {
  font-family: $myFont;
  padding        : 10px 30px;
  text-decoration: none;
  border         : transparent;
  border-width   : 2px;
  border-style   : solid;
  color          : $myColor;
}

#navigation {
  position: absolute; top:0; right:0;
}

#navMain {
    font-family: $myFont;
    font-size  : 20px;
    padding    : 20px 50px;
}

#navMain a.box2:hover{
  -webkit-transition: border 1s linear ;
    color           : $myColor;
    text-decoration : none;
    border          : $myColor;
    border-width    : 2px;
    border-style    : solid;
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
